@media (max-width:307px) {
    .item{
        margin: 20px;
    }
}

/* @media (max-width:440px) {
    #slideshow{
        width: 340px;
        height: 400px;
    }
    #img4{
        
            width: 24.2%;
          
        
    }
} */

        
@media (max-width:272px) {
  
    #logo{
        height: 120px;
        width: 130px;
    }
    .navbar{
        width: 120%;
    }
    .item{
        margin: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }
}
@media (max-width:299px)  {
    .navbar{
        width: 100%;
    }
}
@media (max-width:293px)  {
    .sectionc{
        height: 40vh;
        width: 110vw;
        
    }
}
@media (max-width:207px)  {
    .navbar{
        width: 110%;
    }
}
@media (max-width:223px)  {
  
   
}
@media (max-width:290px) {
    .sectionc{
        width: 190px;
    }
}
@media (max-width:169px) {
    .navbar{
        width: 190px;
    }
}

@media (max-width:1024px) {
    #st-rooms{
        height: 880px;
    }
}
@media (max-width:686px) {
    #st-rooms{
        height: 1297px;
    }
}
@media (max-width:206px) {
    #st-rooms{
   width: 110%;
    }
    .dx-rooms{
        width: 110%;  
    }
    .rs-room{
        width: 110%;
    }
    #about{
        width: 110%;
    }
    .bookcon{
        width: 110%;
    }
}
@media (max-width:186px) {
    #st-rooms{
   width: 130%;
    }
    .dx-rooms{
        width: 130%;  
    }
    .rs-room{
        width: 130%;
    }
    #about{
        width: 130%;
    }
    .bookcon{
        width: 130%;
    }
}
@media (max-width:147px) {
    #st-rooms{
   width: 150%;
    }
    .dx-rooms{
        width: 150%;  
    }
    .rs-room{
        width: 150%;
    }
    #about{
        width: 150%;
    }
    .bookcon{
        width: 150%;
    }
}
@media (max-width:126px) {
    #st-rooms{
   width: 170%;
    }
    .dx-rooms{
        width: 170%;  
    }
    .rs-room{
        width: 170%;
    }
    #about{
        width: 170%;
    }
    .bookcon{
        width: 170%;
    }
}
@media (max-width:107px) {
    #st-rooms{
   width: 190%;
    }
    .dx-rooms{
        width: 190%;  
    }
    .rs-room{
        width: 190%;
    }
    #about{
        width: 190%;
    }
    .bookcon{
        width: 190%;
    }
}
@media (max-width:686px) {
    .dx-rooms{
  height: 1960px;
    }
}
@media (max-width:225px) {
    .dx-rooms{
  position: relative;
  top: 18px;
    }
    #st-rooms{
      height: 1334px;
         }
}
@media (max-width:183px) {
    .dx-rooms{
        height: 2156px;
        background-color: #ffffff;
    }
    .dxroom-4{
        height: 600px;
    }
}
@media (max-width:188px) {
    .navbar{
        width: 210px;
    }
}
@media (max-width:235px) {

    .dx-rooms{
        height: 2186px;
        background-color: #ffffff;
    }
    .dxroom-4{
       
        height: 600px;
      
    }
    .dxroom-4textcon{
        height: 242px;  
    }
}
@media (max-width:280px) {

   .rs-room{
    height:1162px ;
   }
}
@media (max-width:157px) {

   .rs-room{
    height:1199px ;
   }
}
@media (max-width:119px) {

   .rs-room{
    height:1250px ;
   }
   .rsroom-1{
    height: 1124px;
   }
   .rsroom-1textcon{
    height: 511px;
   
}
}
@media (max-width:1059px) {
    #about{
        height: 1100px;
    }
  
}
@media (max-width:297px) {
    #about{
        height: 1822px;
    }
    .NMH{
        height: 700px;
    }
}
@media (max-width:217px) {
    #about{
        height: 1922px;
    }
    .NMH{
        height: 800px;
    }
}
@media (max-width:183px) {
    #about{
        height: 2222px;
    }
    .NMH{
        height: 1100px;
    }
  
}
@media (max-width:709px) {
    #about{
        height: 1690px
    }
   
  
}
@media (max-width:155px) {
   .Naggar{
    height: 550px;
   }
  
}
@media (max-width:155px) {
   .Naggar{
    height: 550px;
   }
  
}
@media (max-width:757px) {
    footer{   
        display: flex;   
        flex-direction:  column;      
    }
  
}
@media (max-width:451px) {
    .footer{   
        height: 600px;
        flex-direction:  column;      
    }
  
}



