*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #272727;
}
.navbar{
    background-color: white;
    width: 100vw;
    height: 210px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.imgitem{
    list-style: none;
}

.itemcon{
    display: flex;
    flex-direction: row;
}
.item{
    margin: 23px;
    list-style: none;
}
.item a{
    text-decoration:  none;
    color: black;
}
.item a:hover{
    text-decoration: underline;
}

#slideshow{
height: 600px;
width: 100vw;

margin: 20px auto;
box-shadow: 5px 10px 8px rgb(0, 0, 0);
overflow: hidden;
}
.slides{
    height: 100%;
    width: 400%;
    padding: 0px;
    margin: 0px;
    position: relative;
    animation: slides 20s linear infinite;
}
@keyframes slides {
    0%{       
left: 0;     
    }
    20%{
      left:   0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: 0;
    }

}
#img1{
    width: 24.98%;
    height: 100%;
}
#img2{
    width: 24.8%;
    height: 100%;
}
#img3{
    width: 24.74%;
    height: 100%;
}
#img4{
    width: 24.692%;
    height: 100%;
}

.sectionc{
    height: 20vh;
    width: 100vw;
    border: 5px solid  grey;
    background: white;
    display: flex;
    color: black;
    margin: 10px auto;
    box-shadow: 20px 10px 8px rgb(0, 0, 0);
    font-family: sans-serif;
}

.roomst-one{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
.roomst-two{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
.roomst-three{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
#st-rooms{
    width: 100%;
    height: 500px;
    background-color: white;
    border: 5px solid grey;
   
   
}
.st-roomscon{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.roomst-one-imgcon{
    height: 200px;
    width: 100%;
}
#img11{
    height: 100%;
    width:  100%;
}
#img12{
    height: 100%;
    width: 100%;
}
#img13{
    height: 100%;
    width: 100%;
}
.roomst-one-textcon{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
}

.roomst-one-imgcontwo{
    width: 100%;
    height: 200px;
}
.roomst-one-textcontwo{
    width: 100%;
    height: 202px;
    background-color: #272727;
    color: #fff;
    
}

.roomst-one-textconthree{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
}

.roomst-one-imgconthree{
    width: 100%;
    height: 200px;
}

.unavailable{
    font-family: sans-serif;
}

.btn-1{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-1 a{
   color: black;
   text-decoration: none;
}
.btn-1 a:hover{
   color: black;
   text-decoration: underline;
}
.btn-2{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-2 a{
   color: black;
   text-decoration: none;
}
.btn-2 a:hover{
   color: black;
   text-decoration: underline;
}
.btn-3{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-3 a{
   color: black;
   text-decoration: none;
}
.btn-3 a:hover{
   color: black;
   text-decoration: underline;
}
.h11{
    display: flex;
    
    width: 100%;
    justify-content: center;
}


.dx-rooms{
    background-color: white;
    border: 5px solid grey;
    margin-top: 10px;
    width: 100vw;
    height: 1065px;
}
.dx-roomscon{
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.dxroom-1{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
.dxroom-2{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
.dxroom-3{
    width: 330px;
    height: 410px;
    border: 4px solid grey;
    margin: 4px;
}
.dxroom-4{
    width: 330px;
    height: 565px;
    border: 4px solid grey;
    margin: 4px;
}
.dxroom-1imgcon{
    width: 100%;
    height: 200px;
}
.dxroom-2imgcon{
    width: 100%;
    height: 200px;
}
.dxroom-3imgcon{
    width: 100%;
    height: 200px;
}
.dxroom-4imgcon{
    width: 100%;
    height: 355px;
}
.dxroom-1textcon{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
}
.dxroom-2textcon{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
}
.dxroom-3textcon{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
}
.dxroom-4textcon{
    height: 202px;
    width: 100%;
    background-color: #272727;
    color: white;
    
}

#img-21{
height: 100%;
width: 100%;
}
#img-22{
height: 100%;
width: 100%;
}
#img-23{
height: 100%;
width: 100%;
}
#img-24{
height: 50%;
width: 100%;
}
#img-241{
height: 50%;
width: 100%;
}
.btn-4{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-4 a{
   color: black;
   text-decoration: none;
}
.btn-4 a:hover{
   color: black;
   text-decoration: underline;
}
.btn-5{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-5 a{
   color: black;
   text-decoration: none;
}
.btn-5 a:hover{
   color: black;
   text-decoration: underline;
}
.btn-6{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-6 a{
   color: black;
   text-decoration: none;
}
.btn-6 a:hover{
   color: black;
   text-decoration: underline;
}
.btn-7{
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-7 a{
   color: black;
   text-decoration: none;
}
.btn-7 a:hover{
   color: black;
   text-decoration: underline;
}

.rs-room{
    background-color: white;
    border: 5px solid grey;
    margin-top: 10px;
    width: 100vw;
    height: 1125px;
}
.rs-roomcon{
    height: 100%;
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
.rsroom-1{
    width: 330px;
    height: 1073px;
    border: 4px solid grey;
    margin: 4px;
}
.rsroom-1imgcon1{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 202px;
    display: block;
}
.rsroom-1imgcon2{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 202px;
    display: block;
}
.rsroom-1imgcon3{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 202px;
}
.rsroom-1textcon{
    height: 460px;
    width: 100%;
    background-color: #272727;
    color: white;
}

#img-31{
    height: 100%;
    width: 100%;
    }
#img-32{
    height: 100%;
    width: 100%;
    }
#img-33{
    height: 100%;
    width: 100%;
    }
    .btn-8{
        list-style: none;
        background-color: white;
        height: 50px;
        width: 100px;
        margin: 20px auto;
        border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn-8 a{
       color: black;
       text-decoration: none;
    }
    .btn-8 a:hover{
       color: black;
       text-decoration: underline;
    }

    #about{
        background-color: white;
        margin-top: 10px;
        border: 5px solid grey;
        width: 100vw;
        height: 550px;
    }
    .aboutcon{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services{
    border: 5px solid grey;
    background: #272727;
    color: white;
    height: 500px;
    width: 350px;
    }
    .Naggar{
    border: 5px solid grey;
    background: #272727;
    color: white;
    height: 500px;
    width: 350px;
    }
    .NMH{
    border: 5px solid grey;
    background: #272727;
    color: white;
    height: 500px;
    width: 350px;
    }
    .naggarimgcon{
        height: 200px;
        width: 100%;
    }
    #img-41{
        width: 100%;
        height: 100%;
    }

    #book{
        height: 500px;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .input-areas{
width: 100%;
height: 40px;
    }

    #textarea{
        height: 100px;
    }
    .bookcon{
        background:#272727;
        height: 500px;
        width: 100%;
        border: 5px solid grey;
        margin: auto;
        margin-top: 10px;
        color: #fff;
    }


   .footer{
    height: 300px;
    width: 100%;
    background-color:#24262b;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 15px;
    justify-content: center;
    
   }
   .footdiv{
    margin:20px;
   }
   .review a{
  text-decoration: none;
  color: white;
   }
   .review a:hover{
  text-decoration: underline;
  color: white;
   }
